body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    overflow-y: scroll;
}



/* HOME */
/**********************/
/*   Navigation top   */
/**********************/
header {
    position: 0 fixed;
    width: 100%;
    background-color: white;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    padding: 15px 16px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    color: black;
    background-color: #ddd;
}
.topnav a.active {
    color: white;
    background-color: #007047;
}
.topnav a.active:hover {
    color: white;
    background-color: #04AA6D;
}




/******************************/
/*      Navigation left       */
/******************************/
.container {
    display: flex;
    align-items: flex-start;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}
.navigation li {
    margin-right: 20px;
    display: grid;
    grid-template-rows: auto auto;
}
.content {
    display: none;
    margin-top: 20px;
}
.content.active {
    display: block;
}


/******************************/
/*         Section 1          */
/******************************/

#section-1 {
    display: grid;
    grid-template-columns: 10% auto;
}
#nav-btns {
    grid: 1;
}
.nav-btn a {
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    display: grid;
    grid-template-rows: 20px;
}
.nav-btn a:hover {
    color: #f2f2f2;
    background-color: #007047;
}


#nav-topic {
    grid: 2;
}

/******************************/
/*         Section 2          */
/******************************/
