body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    overflow-y: scroll;
}



/* HOME */
/**********************/
/*   Navigation top   */
/**********************/
header {
    position: 0 fixed;
    width: 100%;
    background-color: white;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    padding: 15px 16px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    color: black;
    background-color: #ddd;
}
.topnav a.active {
    color: white;
    background-color: #007047;
}
.topnav a.active:hover {
    color: white;
    background-color: #04AA6D;
}




/******************************/
/*      Navigation left       */
/******************************/
.container {
    display: flex;
    align-items: flex-start;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}
.navigation li {
    margin-right: 20px;
}
.content {
    display: none;
    margin-top: 20px;
}
.content.active {
    display: block;
}
