html {
    scroll-behavior: smooth;
}
body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    overflow-y: scroll;
}

/* HOME */
/**********************/
/*   Navigation top   */
/**********************/
header {
    width: 100%;
    background-color: white;
}
.topnav {
    width: 100%;
    overflow: hidden;
    background-color: #333;
}
.topnav a {    
    padding: 15px 16px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.5s;
}
.topnav a:hover {
    color: black;
    background-color: #ddd;
}
.topnav a.active {
    color: white;
    background-color: #007047;
    transition: background-color 0.3s;
}
.topnav a.active:hover {
    color: white;
    background-color: #04AA6D;
}
/******************************/
/*         Nav left           */
/******************************/
#nav-left {
    width: 20%;
}
#nav-left a{
    color: black;
    display: block;
    padding: 10px;
    font-size: 17px;
    text-decoration: none;
}
#nav-left a:hover{
    color: white;
    background-color: #007047;
}
#page {
    display: flex;
}
#content {
    width: 80%;
    margin-left: 20px;
}